.Pokecard {
    /* border: 2px solid black; */
    width: 300px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5x rgba(0,0,0,0,0.56);
    background-color: white;
    border-radius: 5px;
}

.Pokecard-data {
    font-size: 80%;
}