.Pokecard {
    /* border: 2px solid black; */
    width: 300px;
    padding: 10px;
    margin: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    border-radius: 5px;
}

.Pokecard-data {
    font-size: 80%;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;  
}

.Pokecard-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #eceff1;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.Pokecard img {
    transition : all ease 500ms;
}

.Pokecard img:hover {
    transform: scale(1.25);
    opacity: 0.7;
}

